@model TrustTeamVersion4.Models.Domain.Home
@{
	ViewData["Title"] = "Kies uw gewenste data om op te filteren";
}


<h3>@ViewData["Title"]</h3>
<form class="form-group" method="post">
	<label> Ticket Number </label>
	<select asp-items="@(ViewData["TicketNumbers"] as SelectList ) " class="form-control" asp-for="Number">
		<option value=""> --- Selecteer Ticket Nummer ---</option>
	</select>
	<label> Year </label>
	<select asp-items="@(ViewData["Years"] as SelectList)" class="form-control" asp-for="Year">
		<option value=""> --- Selecteer jaar ---</option>
	</select>

	<label> Organization Number </label>
	<select asp-items="@(ViewData["OrganizationNumbers"] as SelectList)" class="form-control" asp-for="OrganizationNumber">
		<option value=""> --- Selecteer Organisatie nummer ---</option>
	</select>
	<label> Organization name </label>
	<select asp-items="@(ViewData["InvoiceOrg"] as SelectList)" class="form-control" asp-for="InvoicCenterOrganization">
		<option value=""> --- Selecteer Naam Organisatie ---</option>
	</select>
	<label> Group name </label>
	<select asp-items="@(ViewData["GroupNames"] as SelectList)" class="form-control" asp-for="GroupName">
		<option value=""> --- Selecteer Naam Groep ---</option>
	</select>
	<label> Person Names </label>
	<select asp-items="@(ViewData["PersonNames"] as SelectList)" class="form-control" asp-for="PersonName">
		<option value=""> --- Selecteer Persoon Naam ---</option>
	</select>
	<label> Support call types </label>
	<select asp-items="@(ViewData["SupportCallTypes"] as SelectList)" class="form-control" asp-for="SupportCallType">
		<option value=""> --- Selecteer Support Call Type ---</option>
	</select>
	<label> Support call Priorities </label>
	<select asp-items="@(ViewData["SupportCallPriorities"] as SelectList)" class="form-control" asp-for="SupportCallPriority">
		<option value=""> --- Selecteer Support Call Priority ---</option>
	</select>
	<label> Support call Impacts </label>
	<select asp-items="@(ViewData["SupportCallImpacts"] as SelectList)" class="form-control" asp-for="SupportCallImpact">
		<option value=""> --- Selecteer Support Call Impacts ---</option>
	</select>
	<label> Support call Urgencies </label>
	<select asp-items="@(ViewData["SupportCallUrgencies"] as SelectList)" class="form-control" asp-for="SupportCallUrgency">
		<option value=""> --- Selecteer Support Call Urgencies ---</option>
	</select>
	<label> Support call statusses </label>
	<select asp-items="@(ViewData["SupportCallstatusses"] as SelectList)" class="form-control" asp-for="SupportCallStatus">
		<option value=""> --- Selecteer Support Call status ---</option>
	</select>
	<label> Opened by users </label>
	<select asp-items="@(ViewData["OpenedByUsers"] as SelectList)" class="form-control" asp-for="OpenedByUser">
		<option value=""> --- Selecteer User ---</option>
	</select>
	<label> Assigned tp users </label>
	<select asp-items="@(ViewData["AssignedToUsers"] as SelectList)" class="form-control" asp-for="AssignedToUser">
		<option value=""> --- Selecteer User ---</option>
	</select>
	<label> Assigned tp Queus </label>
	<select asp-items="@(ViewData["AssignedToQueus"] as SelectList)" class="form-control" asp-for="AssignedToQueue">
		<option value=""> --- Selecteer queue ---</option>
	</select>
	<label> Invoice Statusses</label>
	<select asp-items="@(ViewData["InvoiceStatusses"] as SelectList)" class="form-control" asp-for="InvoiceStatus">
		<option value=""> --- Selecteer Invoice Status ---</option>
	</select>
	<label>Datum open begin</label>
	@Html.TextBox("SupportCallOpenDate", null, new { @class = "datefield", type = "date" })
	<label>Datum open eind</label>
	@Html.TextBox("SupportCallOpenDateEinde", null, new { @class = "datefield", type = "date" })
	<br />
	<button class="btn btn-primary" type="submit" asp-action="Table">Filter</button>
	<button asp-action="Graphs" class="btn btn-default" type="submit">Test Graphs</button>
	<a asp-action="Index" class="btn btn-default">Reset</a>
</form>


